a {
  text-decoration: none;
  color: #fff;
  transition: all .25s ease;
}

a:hover,
a:active {
  color: #ddd;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.reverse {
  transform: rotate(180deg);
}

.img-box {  
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  margin: 25px 0;
  height: 35px;
  width: auto;
}