/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
/*
to see all the prebuilt Material themes we can go to the node_modules/@angular/material/prebuilt-themes folder, and choose one of the following themes: deeppurple-amber.css, indigo-pink.css, pink-bluegrey.css, or purple-green.css
*/
/* if we want to use a custom-made theme for our app then we should comment this import out, and in the styles[] array in our angular.json file we should import our custom theme "src/my-theme.scss" below the "src/styles.css" import, so our theme won't overlap with the in-built themes */

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  margin: 0;
}
